img {
    width: 48px;
    height: 48px;
}

mat-toolbar {
    background-color: #039be5 !important;
    height: 80px;
}

h2 {
    font-size: 25px;
    color: white !important;
    line-height: 80px;
}