<div fxLayout="column">
    <mat-nav-list>
        <a mat-list-item (click)="exportToExcel()">
            <span>Exportar a Excel</span>
        </a>
        <a mat-list-item (click)="openPdfTables()">
            <span>Exportar a PDF (Abrir)</span>
        </a>
        <a mat-list-item (click)="printPdfTables()">
            <span>Exportar a PDF (Imprimir)</span>
        </a>
        <a mat-list-item (click)="downloadPdfTables()">
            <span>Exportar a PDF (Descargar)</span>
        </a>
    </mat-nav-list>
</div>